:root {
  --commoncolor: rgb(81, 70, 155);
}



.submitbutton {

  position: relative;

  height: 35px;

  font-size: 17px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 3px;

  background-color: rgb(36, 31, 69);

  color: white;

  border: 0;

}



.writereview {

  font-size: 22px;

}



.bold {

  font-weight: bold;

}



.background {

  color: var(--commoncolor);

  background-color: lavender;

}



.showname {

  font-size: 35px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-decoration: underline;

}




.submitbutton:hover {

  position: relative;

  height: 35px;

  font-size: 17px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 3px;

  background-color: rgb(50, 43, 92);

  color: white;

  border: 0;

}



.castlebuttons {

  background-color: darkslateblue;

  color: white;

  border-radius: 3px;

  padding: 14px 25px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

}



.castlebuttons:hover {

  background-color: var(--commoncolor);

  color: white;

  border-radius: 3px;

  padding: 14px 25px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

}



.headerText {

  font-size: 35px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



  color: white;

}



.header {

  background-color: darkslateblue;

  color: white;

}




.form {

  background-color: darkslateblue;

  color: white;

  font-size: 19px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.reviewform {

  color: var(--commoncolor);

  background-color: lavender;

  font-size: 16px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.subheader {

  font-size: 25px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-color: darkslateblue;

  color: white;

}



.table {

  background-color: lavender;



}



.table tr {

  color: darkslateblue;

  font-size: 18px;



}



.topofpage {

  text-align: center;

  border-radius: 4px;

}



.table td {

  font-size: 8px;

  color: darkslateblue;

  text-align: left;

  font-size: 20px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}