{% extends "base.html"%}


{% block sideblock %}

{% endblock %}

{% block content %}
<p> <a name="top"></a></p>
<div class="form">
  <form method="get" action="{% url 'index' %}">
    {{ form }}
    <input  class="submitbutton" type="submit" name="Filter results">
    <a href="{% url 'index' %}?search=true" class="btn btn-dark">Reset Location</a>
  </form>
  
  <form method="get" action="{% url 'index' %}">
    {{ dropdown }}
    <input class="submitbutton" type="submit" name="Filter">
  </form>
</div>


<table class="table">
  <thead>
    <th> Name
    <th>Distance
    <th>Rating
    <th> Picture
  </thead>
  <tbody>
    {% for castle in castles %}
    <tr>
      <td> <a class="castlebuttons" href="{% url 'show' castle.id%}">{{ castle.name }}</a></h3>
      <td>{{ castle.distance }}</p2>
      <td>{{ castle.rating }}</p2>
        {% with url=castle.imageReference %}
      <td class='left'><img src="{{ url }}"></td>
      {% endwith %}

      {% endfor %}
      
  </tbody>
</table>
{% if castles %}
  <footer>
    <a class = "topofpage castlebuttons" href="#top">Top of page</a>
  </footer> 
{% endif %}

{% endblock%}


  </html>