{% extends "base.html"%}
{% load static %}

{% block sidebar %}
<form method="get" action="{% url 'index' %}">
  {{ form }}
  <input class="btn btn-primary" type="submit" name="Filter results">
  <a href="{% url 'index' %}?search=true" class="btn btn-success">Reset Location</a>
</form>
<form method="get" action="{% url 'index' %}">
  {{ dropdown }}
  <input class="btn btn-primary" type="submit" name="Filter">
</form>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <th> Name
    <th>Distance
    <th>Rating
    <th> Picture
  </thead>
  <tbody>
    {% for castle in castles %}
    <tr>
      <td> <a href="{% url 'show' castle.id%}">{{ castle.name }}</a></h3>
      <td>{{ castle.distance }}</p2>
      <td>{{ castle.rating }}</p2>
        {% with url=castle.imageReference %}
      <td class='left'><img src="{{ url }}"></td>
      {% endwith %}

      {% endfor %}

      {% endblock %}

  </tbody>

  </html>