{% extends 'base.html'%}
{% load static %}

{% block sidebar %}
<form method="get" action="{% url 'index' %}">
  {{ form }}
  <input class="btn btn-primary" type="submit" name="Filter results">
  <a href="{% url 'index' %}?search=true" class="btn btn-success">Reset Location</a>
</form>
{% endblock %}

{% block content %}
<body>
  {% for castle in castles %}
  <h3> {{ castle.name }}</h3>
  <p2>Distance (KM): {{ castle.distance }}</p2>
  <p2>Rating: {{ castle.rating }}</p2>
  {% with url=castle.imageReference %}
  <img src="{{ url }}">
  {% endwith %}

  {% endfor %}

{% endblock %}

</body>

</html>
