{% extends "base.html" %}

{% block content %}
<div class="background">
  <section>
    <p class="writereview">Write a review for {{castle.name}}</p>
  </section>
  
  <form class="reviewform" action="{% url 'createreview' castle.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submitbutton" type="submit" value="Submit Review">
  </form>
  
  <br>
  <div>
    <a class="castlebuttons" href="{% url 'show' castle.id %}">Back to castle</a>
    <a class="castlebuttons" href="{% url 'index' %}">Back to all castles</a>
  </div>
</div>
{% endblock %}

{% block footer %}
  <p class="background">
  </p>

{% endblock %}
