{% extends "base.html" %}

{% block content %}
<div class="background">
  <p class="showname">Details for {{castle.name}}</p>
  <dl>
    <dt>Distance (KM)</dt>
    <dd>{{castle.distance}}</dd>
    <dt>Rating</dt>
    <dd>{{castle.rating}}</dd>
    <p1 class='right'> <img src='{{ castle.imageReference }}' alt='{{ img.name }}'> </img> </p1>
    <h2 class="showname"> Reviews</h2>
    <a class="btn btn-dark" href="{% url 'createreview' castle.id %}">Write a review</a>
    <br>
    <div>
      <a class="btn btn-dark" href="{% url 'index' %}?history=True">Back to Search</a>
    </div>
    {% for review in castle.review_set.all %}
    <br>
    <p3><span class="bold">Author:</span> {{ review.Author }}</p3>
    <br>
    <p3><span class="bold">Rating:</span> {{ review.rating }}</p3>
    <br>
    <p3><span class="bold">Text:</span> {{ review.review }}</p3>
    <br>
    {% endfor %}

  </dl>
</div>
{% endblock %}


{% block footer %}

{% endblock %}